@import url("https://fonts.googleapis.com/css2?family=Arvo&family=BioRhyme:wght@200&family=Nunito:wght@200&display=swap");
* {
  box-sizing: border-box;
  font-family: "BioRhyme", "Arvo", "Nunito" serif;
  text-decoration: none;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
